.pageWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  gap: 20px;
  padding: 20px;
}
.requestWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.formContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  max-height: 90vh;
  overflow-y: auto;
}
