.header {
  position: relative;
  width: 100%;
  z-index: 1000;
}
.menu {
  width: 100%;
  display: flex;

  flex-direction: column;

  height: max-content;
  background: #22917a 100%;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.search {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: max-content;
  padding: 20px 20px;
}
