.pageWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  gap: 20px;
  padding: 20px;
}

.empty {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button {
  display: flex;
  max-width: 250px;
  margin: 20px;
  background-color: #078364;
  border-radius: 10px;
  padding: 10px 12px;
  color: rgb(230, 230, 230);
  border: none;
  font-family: "Inter";
  font-size: 18px;
  text-align: center;
}
.title {
  font-size: 22px;
}
