.container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.addRequest {
  width: 250px;
  min-height: 70px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.button {
  display: flex;
  background-color: #078364;
  border-radius: 10px;
  padding: 10px 12px;
  color: rgb(230, 230, 230);
  border: none;
  font-family: "Inter";
  font-size: 18px;
}
