.container {
  display: flex;
  padding: 20px;
  gap:20px;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.addRequest {
  width: 250px;
  min-height: 70px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #ffffff;
}

.icon:hover {
  transform: scale(1.1);
}

.button {
  display: flex;
  background-color: #078364;
  border-radius: 10px;
  padding: 10px 12px;
  color: rgb(230, 230, 230);
  border: none;
  font-family: "Inter";
  font-size: 18px;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}